<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "partials/_head.html.twig" %}
    <title>{% block title %}Help After Stroke{% endblock %} | Help After Stroke </title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
    {% include "partials/_preloader.html.twig" %}
    {% include "partials/_header.html.twig" %}
    {% block body %}{% endblock %}
    {% include "partials/_footer.html.twig" %}
    {% include "partials/_js_files.html.twig" %}
</body>
</html>
